<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/a853684/IdeaProjects/LearnTestNG/src/test/java/ABCDRestAssured/Day8"><classes><class name="ABCDRestAssured.Day8.CreateUser"><methods><include name="creatingUser"/></methods></class><class name="ABCDRestAssured.Day8.DeleteUser"><methods><include name="deleteUser"/></methods></class><class name="ABCDRestAssured.Day8.GetUser"><methods><include name="gettingUserData"/></methods></class><class name="ABCDRestAssured.Day8.UpdateUser"><methods><include name="updatingUserDetails"/></methods></class></classes></test></suite>